<p id="notice"><%= notice %></p>

<h1>Claims</h1>

<%= will_paginate %>

<div class="container">

  <table class="table table-hover">
    <thead>
    <tr>
      <th>ID</th>
      <th>Typ</th>
      <th>Beschreibung</th>
      <th>Status</th>
      <th>Erstellungsdatum</th>
      <th>Aktionen</th>
    </tr>
    </thead>
    <tbody>
      <% @claims.each do |claim| %>
        <tr>
          <td><%= claim.id %></td>
          <td><%= claim.claim_type.name %></td>
          <td><%= claim.description %></td>
          <td><%= claim.claim_status.name %></td>
          <td><%= claim.created_at %></td>
          <td><%= link_to 'Anzeigen', claim, class: "btn btn-default btn-sm" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>

<%= link_to 'Neuen Claim erfassen', new_claim_path, class: "btn btn-primary" %>
