<p id="notice"><%= notice %></p>

<h1>Claim-Details</h1>
<hr />

<div class="container">
  <%- # ====== Erste Zeile mit Kopfdaten des Claims ====== -%>
  <div class="row">
    <div class="col-sm-7">
      <h4>Kopfdaten</h4>
      <table class="table table-hover">
        <tbody>
        <tr>
          <td><strong>ID:</strong></td>
          <td><%= @claim.id %></td>
        </tr>
        <tr>
          <td><strong>Typ</strong></td>
          <td><%= @claim.claim_type.name %></td>
        </tr>
        <tr>
          <td><strong>Erstellungszeitpunkt:</strong></td>
          <td><%= @claim.created_at %></td>
        </tr>
        <tr>
          <td><strong>Ersteller:</strong></td>
          <td><%= @claim.insert_user %></td>
        </tr>
        <% unless @claim.updated_at ==  @claim.created_at %>
            <tr>
              <td><strong>Zuletzt bearbeitet:</strong></td>
              <td><%= @claim.updated_at %></td>
            </tr>
            <tr>
              <td><strong>Letzter Bearbeiter:</strong></td>
              <td><%= @claim.update_user %></td>
            </tr>
        <% end %>
        </tbody>
      </table>

    </div>
    <div class="col-sm-5">
      <div>
        <p><strong>Status:</strong></p>
        <div class="btn-group">
          <%- # Je nach Claim-Status die Button Bar aufbauen -%>
          <button type="button" class="<%= @claim.is_initial? ? 'btn btn-primary disabled' : 'btn btn-default disabled' %>">Neu</button>
          <button type="button" class="<%= @claim.is_in_progress? ? 'btn btn-primary disabled' : 'btn btn-default disabled' %>">In Bearbeitung</button>
          <button type="button" class="<%= @claim.is_terminated? ? 'btn btn-success disabled' : 'btn btn-default disabled' %>">Abgeschlossen</button>
        </div>
      </div>
      <div class="top10">
        <p><strong>Beschreibung:</strong></p>
        <textarea class="form-control" style="max-width: 80%" rows=8 readonly="true"><%= @claim.description %></textarea>
      </div>
    </div>
  </div>

  <%- # ====== Zweite Zeile mit Navigationselementen ====== -%>
  <div class="row">
    <div class="col-sm-7">
      <h4>Aktionen</h4>
      <%= link_to 'zurück', claims_path, class: "btn btn-default" %>
      <%- # Nur nicht abgeschlossene Claims können bearbeitet werden -%>
      <% unless @claim.is_terminated? %>
          <%= link_to 'Kopfdaten bearbeiten', edit_claim_path(@claim), class: "btn btn-primary" %>
          <%- # Je nach Vorhandensein einer Lösung 'hinzufügen' oder 'bearbeiten' anbieten -%>
          <% if @solution.nil? %>
            <%= link_to 'Lösung hinzufügen', new_solution_path(:claim => @claim.id), class: "btn btn-primary" %>
          <% else  %>
              <%= link_to 'Lösung bearbeiten', @solution, class: "btn btn-primary" %>
              <%= link_to 'Abschließen', finish_claim_path(:claim => @claim.id), class: "btn btn-success", data: { confirm: 'Claim wirklich abschließen?' } %>
          <% end %>
          <%= link_to 'Löschen', @claim, method: :delete, class: "btn btn-danger", data: { confirm: 'Sind Sie sicher?' } %>
      <% else  %>
          <%- # Abgeschlossene Claims können wiedereröffnet werden, und ihre Lösung angezeigt -%>
          <%= link_to 'Lösung anzeigen', @solution, class: "btn btn-primary" %>
          <%= link_to 'Wiedereröffnen', reopen_claim_path(:claim => @claim.id), class: "btn btn-warning", data: { confirm: 'Claim wirklich wiedereröffnen?' } %>
      <% end  %>


    </div>
    <div class="col-sm-5"></div>
  </div>

</div>

<hr />

<%- # ====== Neuer Container mit Tab-Bar zu konkreten Aktionen ====== -%>
<div class="container">
  <%- # ====== Erste Zeile mit Kopfdaten des Claims ====== -%>
  <div class="row">
    <div class="col-sm-12">
      <h4>Fotos, Dokumente und Recherche</h4>
    </div>
  </div>

  <%- # ====== Zweite Zeile mit Navigationselementen ====== -%>
  <div class="row">
    <div class="col-sm-12">
      <ul  class="nav nav-tabs">
        <li class="active"><a href="#photos" data-toggle="tab">Fotos</a>
        </li>
        <li><a href="#docs" data-toggle="tab">Dokumente</a>
        </li>
        <li><a href="#research" data-toggle="tab">Recherche</a>
        </li>
      </ul>
      <div class="tab-content clearfix">
        <div class="tab-pane active" id="photos">
          <%= render 'claims/photos', claim: @claim %>
        </div>
        <div class="tab-pane" id="docs">
          <%= render 'claims/docs', claim: @claim %>
        </div>
        <div class="tab-pane" id="research">
          <%= render 'claims/research', claim: @claim %>
        </div>
      </div>
    </div>
  </div>

</div>








