<%= form_for(@picture) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <%= f.text_area :description, placeholder: "Eine Beschreibung eingeben..." %>
    </div>
    <span class="picture">
      <%= f.file_field :file %>
    </span>
    <%= f.submit "Speichern", class: "btn btn-primary" %>
<% end %>