<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@solution) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label :load_id, "Load ID" %>
        <%= f.text_field(:load_id, :disabled => @readonly_form, class: 'form-control') %>

        <%= f.label :pid_info, "PID-Informationen" %>
        <%= f.text_area(:pid_info, :disabled => @readonly_form, class: 'form-control') %>

        <%= f.label :description, "Beschreibung" %>
        <%= f.text_field(:description, :disabled => @readonly_form, class: 'form-control') %>

        <%= f.label :pallet_id, "Paletten-ID" %>
        <%= f.text_area(:pallet_id, :disabled => @readonly_form, class: 'form-control') %>

        <%= f.label :number_of_pallets, "Anzahl Paletten" %>
        <%= f.number_field(:number_of_pallets, :disabled => @readonly_form, class: 'form-control') %>

        <%= f.label :box_id, "Box ID" %>
        <%= f.text_field(:box_id, :disabled => @readonly_form, class: 'form-control') %>

        <%= f.label :serial_number_example, "Seriennummernbeispiel" %>
        <%= f.text_field(:serial_number_example, :disabled => @readonly_form, class: 'form-control') %>

        <%= f.label :damage_type, "Art der Beschädigung" %>
        <%= f.select(
                :damage_type,
                options_for_select(Solution.damage_types.map {|k, v| [k.humanize.capitalize, k]}),
                {include_blank: true},
                {:disabled => @readonly_form,
                 :class => "form-control"
                }
            )
        %>
        <% unless @readonly_form %>
          <%= f.submit "Speichern", class: "btn btn-primary" %>
        <% end  %>
    <% end %>
  </div>
</div>
<div class="row top5">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'Abbrechen', @claim, class:"btn btn-default btn-block" %>
  </div>
</div>


