<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@solution) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>

        <%= f.label "Load ID" %>
        <%= f.text_field(:load_id, class: 'form-control') %>

        <%= f.label "PID-Informationen" %>
        <%= f.text_area(:pid_info, class: 'form-control') %>

        <%= f.label "Beschreibung" %>
        <%= f.text_field(:description, class: 'form-control') %>

        <%= f.label "Paletten-ID" %>
        <%= f.text_area(:pallet_id, class: 'form-control') %>

        <%= f.label "Anzahl Paletten" %>
        <%= f.number_field(:number_of_pallets, class: 'form-control') %>

        <%= f.label "Box ID" %>
        <%= f.text_field(:box_id, class: 'form-control') %>

        <%= f.label "Seriennummernbeispiel" %>
        <%= f.text_field(:serial_number_example, class: 'form-control') %>

        <%= f.label "Art der Beschädigung" %>
        <%= f.label :damage_type %>
        <%= f.select(
                :damage_type,
                options_for_select(Solution.damage_types.map {|k, v| [k.humanize.capitalize, k]}),
                {include_blank: true},
                {:class => "form-control"}
            ) %>

        <%= f.submit "Speichern", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
<div class="row top5">
  <div class="col-md-6 col-md-offset-3">
    <%= link_to 'Abbrechen', @claim, class:"btn btn-default btn-block" %>
  </div>
</div>


